<div class="list-group">
    {% for post in posts  %}
    <div class="list-group-item list-group-item-action">
        <div class='post'>
            <div class="d-flex flex-column">
                <a href="{{url_for('user.user_info',username=post.author.name)}}">
                    <img src="{{post.author.get_avatar(size=50)}}" alt="avatar">
                    <p class='post-author'>
                        {{post.author.name}}
                    </p>
                </a>

                {% if post.author==current_user %}
                    <a href="{{url_for('post.edit_post',id=post.id)}}">
                        <span class="label label-default">edit post</span>
                    </a>
                {%elif current_user.can(Permission.ADMIN)%}
                    <a href="{{url_for('post.edit_post',id=post.id)}}">
                        <span class="label label-danger">edit post</span>
                    </a>
                {% endif %}
            </div>
            <a href="{{url_for('post.the_post',id=post.id)}}">
                <p class='post-body'>
                    {% if post.body_html %}
                    {{post.body_html | safe}}
                    {% else %}
                    {{post.body}}
                    {% endif %}
                </p>
            </a>
        </div>
        
        <div class='post-time'>
            <span class="glyphicon glyphicon-edit" id='comment-icon'></span>
            <span class="label label-warning" id='comment-count'>
                {{post.comments.filter_by(disabled=False).count()}}
            </span>
            <a href="{{url_for('post.the_post',id=post.id)}}">
                    comment
            </a>&emsp;
            <small>{{moment(post.timestamp).format('L')}}</small>&emsp;
            <small>{{moment(post.timestamp).fromNow(refresh=True)}}</small>
        </div>
    </div>
    {% endfor %}
</div>