<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flasky Confirmation</title>
</head>
<body>
    <h1>
        Dear {{user.name}},
    </h1>
    <h2>Welcome to Flasky!</h2>
    <p>
        To confirm your account please click on the following link:
        <a href="{{ url_for('auth.confirm',token=token,_external=True)}}">
            {{ url_for('auth.confirm',token=token,_external=True)}}
        </a>
    </p>
    <p> Sincerly,</p>
    <p> Flasky Team</p>
    <p><b>Note: replies to this email address are not monitored.</b></p>
</body>
</html>