{% extends "base.html" %}


{% block title %} Flasky-{{title}} {% endblock title %}


{% block page_content %}
<h1>{{ title }}&nbsp;{{ user.name }}</h1>
<hr />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Time</th>
        </tr>
    </thead>
    <tbody>
        {% for f in follows %}         
            <tr>
                <td>
                    <a href="{{url_for('user.user_info',username=f.user.name)}}">
                        {{f.user.name}}
                    </a>
                </td>
                <td>{{f.timestamp}}</td>
            </tr>
        {% endfor %}

    </tbody>
</table>
<div class="pagination">
    {{macros.pagination_widget(pagination,endpoint,username=user.name)}}
</div>
{% endblock %}