<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>vuestudy</title>
    <link rel="stylesheet" href="test.css">
<!--    <script src="https://unpkg.com/vue/dist/vue"></script>-->
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<!--     <script src="./vue.js"></script> -->
    <script src="https://cdn.staticfile.org/vue-router/2.7.0/vue-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
</head>
<body>

<hr/>
<div id="app1">
    <span v-bind:title="message"></span>
    <ul>
        <li v-for="(v,k,i) in objects">
            {{i}}:{{k}}:{{v}}
        </li>
        <li v-for="n in 5">
            {{n}}
        </li>
    </ul>
</div>

<hr/>
<div id="app2">
    <p>原始字符串:{{ rawStr }}</p>
    <p>计算字符串:{{ computedStr }}</p>
    <p>反转字符串:{{ reverseStr() }}</p>
</div>

<hr/>
<div id="app3">
    <p style="font-size:25px;">计数器:{{counter}}</p>
    <button @click="counter++">点我</button>
</div>

<hr/>
<div id="app4">
    千米：<input type="text" v-model="kilometers">
    米：<input type="text" v-model="meters">
    <p id="tips">修改提示</p>
</div>


<hr/>
<div id="app5">
    <div v-bind:class="{style1:apply1,'style2':apply2}"></div>
    <button type="text" v-on:click="switcher">切换</button>
</div>

<div id="app5_1">
    <div v-bind:class="clsobj"></div>
    <button type="text" v-on:click="switcher">切换</button>
</div>

<div id="app5_2">
    <div v-bind:class="[style1,style2]"></div>
    <button type="text" v-on:click="switcher">切换</button>
</div>

<div id="app5_3">
    <div v-bind:class="[style1,addStyle ? style2:'']"></div>
    <button type="text" v-on:click="switcher">切换</button>
</div>

<hr/>
<div id="app6">
     <p v-bind:style="{color:somecolor,fontSize:fontsize+'px'}">内联样式</p>
</div>

<div id="app6_1">
    <p v-bind:style="stlobj">内联样式</p>
</div>

<div id="app6_2">
    <p v-bind:style="[basestl,overridestl]">内联样式</p>
</div>

<hr/>
<div id="app7">
    <p>单个复选框</p>
    <input type="checkbox" id="checkbox" value="fruit" v-model='checked'>
    <label  for="checkbox">{{checked}}</label>
    <p>多个复选框</p>
    <input type="checkbox" id="1" value="apple" v-model="which">
    <label for="1">apple</label>
    <input type="checkbox" id="'2" value="peach" v-model="which">
    <label for="2">peach</label>
    <input type="checkbox" id="'3" value="banana" v-model="which">
    <label for="3">banana</label>
    <p>you selected {{ which }}</p>
</div>

<br/>
<div id="app7_1">
    <p>单选按钮</p>
    <input type="radio" id="1" value="cat" v-model="selected">
    <label for="1">cat</label>
    <input type="radio" id="2" value="dog" v-model="selected">
    <label for="'2">dog</label>
    <p>you most like <u>{{ selected }}</u></p>
</div>

<hr/>

<!--
双向数据绑定修饰符
v-model.number
v-model.trim
-->
<div id="app8">
    <select v-model="selected">
        <option value="">选择一个网站</option>
        <option value="www.baidu.com">百度</option>
        <option value="www.google.com">谷歌</option>
    </select>
    <p>你选择了<u>{{ selected }}</u></p>
</div>

<hr/>
<div id="app9">
    <input type="text" v-model="message">
    <globalcomponent v-bind:symbol='message'></globalcomponent>
</div>

<div id="app9_1">
    <localcomponent></localcomponent>
</div>

<div id="app9_2">
    <ol>
        <foritem v-for="item in items" v-bind:element="item"></foritem>
    </ol>
</div>
<div>
    <p>利用组件自定义事件</p>
    <div id="app10">
        <p>Total:{{ total }}</p>
        <button-counter v-on:increament="increamentTotal"></button-counter>
        <button-counter v-on:increament="increamentTotal"></button-counter>
    </div>
</div>

<hr/>
<div id="app11">
    <p>自定义指令v-focus:自动获得焦点</p>
    <input type="text" placeholder="自定义全局指令" v-focus>
</div>
<div id="app11_1">
    <input type="text" placeholder="自定义局部指令" v-focus>
</div>

<hr/>
<p>钩子函数</p>
<div id="app12"  v-runoob:hello.a.b="message">
</div>

<hr/>
<p>指令函数可以是js对象</p>
<div id="app13">
    <div v-sytax="{color:'green',text:'不明觉厉'}"></div>
</div>
<br>

<div id = "app14">
<button v-on:click = "show = !show">点我</button>
<transition name = "fade">
    <p v-show = "show" v-bind:style = "styleobj">动画实例</p>
</transition>
</div>
    
<div id = "app14_1">
<button v-on:click = "show = !show">点我</button>
<transition name="slide-fade">
    <p v-if="show">菜鸟教程</p>
</transition>
</div>    

<hr/>
<div id = "app15">
<button v-on:click = "show = !show">点我</button>
<transition name="bounce">
    <p v-if="show">菜鸟教程 -- 学的不仅是技术，更是梦想！！！</p>
</transition>
    
<hr/>    
<div id = "app16">
<button v-on:click = "show = !show">点我</button>
<transition
    v-on:before-enter="beforeEnter"
    v-on:enter="enter"
    v-on:leave="leave"
    v-bind:css="false"
  >
    <p v-if="show">菜鸟教程 -- 学的不仅是技术，更是梦想！！！</p>
</transition>  
 
<hr/>
<div id="app17">
	<input type="button" @click="get()" value="点我异步获取数据(Get)">
</div>

<hr/>
<div id="app18">
	<input type="button" @click="post()" value="点我异步获取数据(Post)">
</div>

<!--
 // 基于全局Vue对象使用http
Vue.http.get('/someUrl', [options]).then(successCallback, errorCallback);
Vue.http.post('/someUrl', [body], [options]).then(successCallback, errorCallback);

// 在一个Vue实例内使用$http
this.$http.get('/someUrl', [options]).then(successCallback, errorCallback);
this.$http.post('/someUrl', [body], [options]).then(successCallback, errorCallback);   
-->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
<hr/>
    <p>vue router </p>
<div id="app_unk">
  <h1>Hello App!</h1>
  <p>
    <!-- 使用 router-link 组件来导航. -->
    <!-- 通过传入 `to` 属性指定链接. -->
    <!-- <router-link> 默认会被渲染成一个 `<a>` 标签 -->
    <router-link to="/foo">Go to Foo</router-link>
    <router-link to="/bar">Go to Bar</router-link>
  </p>
  <!-- 路由出口 -->
  <!-- 路由匹配到的组件将渲染在这里 -->
  <router-view></router-view>
</div>

<div>
<p>router-link相关属性</p>
 <!-- 字符串 -->
<router-link to="home">Home</router-link>
<!-- 渲染结果 -->
<a href="home">Home</a>

<!-- 使用 v-bind 的 JS 表达式 -->
<router-link v-bind:to="'home'">Home</router-link>

<!-- 不写 v-bind 也可以，就像绑定别的属性一样 -->
<router-link :to="'home'">Home</router-link>

<!-- 同上 -->
<router-link :to="{ path: 'home' }">Home</router-link>

<!-- 命名的路由 -->
<router-link :to="{ name: 'user', params: { userId: 123 }}">User</router-link>

<!-- 带查询参数，下面的结果为 /register?plan=private -->
<router-link :to="{ path: 'register', query: { plan: 'private' }}">Register</router-link>


<router-link :to="{ path: '/abc'}" replace></router-link>
<router-link :to="{ path: 'relative/path'}" append></router-link>
<router-link to="/foo" tag="li">foo</router-link>
<!-- 渲染结果 -->
<li>foo</li>
 
<!--设置 链接激活时使用的 CSS 类名-->
<style>
   ._active{
      background-color : red;
   }
</style>
<p>
   <router-link v-bind:to = "{ path: '/route1'}" active-class = "_active">Router Link 1</router-link>
   <router-link v-bind:to = "{ path: '/route2'}" tag = "span">Router Link 2</router-link>
</p>

    
<!--配置当链接被精确匹配的时候应该激活的 class。可以通过以下代码来替代。-->

<p>
   <router-link v-bind:to = "{ path: '/route1'}" exact-active-class = "_active">Router Link 1</router-link>
   <router-link v-bind:to = "{ path: '/route2'}" tag = "span">Router Link 2</router-link>
</p>    


<!--声明可以用来触发导航的事件。可以是一个字符串或是一个包含字符串的数组。-->

<router-link v-bind:to = "{ path: '/route1'}" event = "mouseover">Router Link 1</router-link>

</div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
<script src="test.js"></script>
</body>
</html>