.icon-btn{
  background: none;
  border: none;
  color: inherit;
}

.c-pointer{
  cursor: pointer;
}


.start-page{
  font-size: 24px;
  width: 800px;
  height: 300px;
  line-height: 300px;
  text-align: center;
  color: gray;
}



.left-panel{
  min-height: 100vh;
  position: relative;
}

.file-btn{
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.file-btn .no-border{
  border-radius: 0px !important;
}